@import url(../vendor/bootstrap/css/bootstrap.min.css);
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #5a2205;
}

a {
  color: #5a2205;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #5a2205;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-dark {
  background-color: #212529 !important;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.text-shadow {
  text-shadow: 0 0 10px #5a2205;
}

header.masthead {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #5a2205;
  background-image: url("../img/mewar-chittaurgarh-fort.jpg");
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 3rem;
}

header.masthead img.mff2019-logo {
  max-width: 100%;
  max-height: 400px;
}

header.masthead p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

section.about {
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-size: cover;
}

section.about hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

section.about h2 {
  font-size: 2rem;
}

section.about p {
  font-size: 1.15rem;
}

@media (min-width: 768px) {
  section.about p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  section.about h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  section.about h2 {
    font-size: 3rem;
  }
}

.text-primary {
  color: #5a2205 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-primary {
  background-color: #5a2205;
  border-color: #5a2205;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #421904 !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

img.organiser {
  max-height: 120px;
}

section.submission {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

section.address {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-size: cover;
}

p.developed-by {
  padding-top: 2em;
  color: #fdcc52;
  font-size: 12px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.08);
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  text-transform: uppercase;
}

p.developed-by a {
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.08);
}
