// Styling for the masthead
section.about {
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url('../img/background.jpg');
  background-position: center center;
  @include background-cover;

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.15rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 2rem;
    }
  }
  @media (min-width: 1200px) {
    h2 {
      font-size: 3rem;
    }
  }
}
