// Styling for the masthead
header.masthead {
  // padding-top: 4rem;
  // padding-bottom: 4rem;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $primary;
  background-image: url('../img/mewar-chittaurgarh-fort.jpg');
  background-position: center center;

  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 3rem;
  }
  img.mff2019-logo {
    max-width: 100%;
    max-height: 400px;
    // padding-bottom: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
  @media (max-width: 767px) {
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}
