@import '../vendor/bootstrap/css/bootstrap.min.css';

@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
// @import 'navbar.scss';
@import 'masthead.scss';
@import 'about.scss';
// @import 'services.scss';
@import 'bootstrap-overrides.scss';

// Styling for the services section
img.organiser {
  max-height: 120px;
}

// section.contact {
//   // background-image: url('../img/background.jpg');
//   // background-position: center center;
//   // @include background-cover;
//   // @media (max-width: 767px) {
//   //   height: 100vh;
//   // }
// }

section.submission {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

section.address {
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-position: center center;
  @include background-cover;
}

section.contact {
  // height: 100vh;
}

p.developed-by {
  padding-top: 2em;
  color: #fdcc52;
  font-size: 12px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.08);
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  text-transform: uppercase;
}

p.developed-by a {
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.08);
}
